/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */
    body h1{
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

/* Record your solutions here:
   #1 - #unique
   #2 - .chuuuuu
   #3 - div h1
   #4 - body h1
   #5 - h1

   e.g. - .pika               */